<!doctype html>
<html lang="en">
  <head>
    <title>¿Tienes Dudas?</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <script src="./js/bootstrap.min.js" ></script>
    <script src="funciones.js"></script>
    <link rel="stylesheet" href="estilos.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



  
  </head>
  <body class="bg-secondary-subtle text-white">
    <!--barra de navegacion-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="menu">
    <div class="container-fluid">
      <a class="navbar-brand" href="./index.html"  id="colorletras" onmouseover="cambiarColorTexto()" onmouseout="restaurarColorTexto()"><span>MechMed</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="./servicios.html">SERVICIOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./nosotros.html">NOSOTROS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./contacto.html">¿TIENES DUDAS?</a>
          </li></ul>
          <!--inicio de sesion-->
          <form id="loginForm">
            <a href="./login.html"><button class="btn btn-primary ms-2" type="button" >Iniciar Sesión</button></a>
              </form>
        <!--fin inicio sesion-->
      </div>
    </div>
  </nav>
  <!--final barra de navegación-->

    <div class="container text-left mt-3 mb-3">
      <div class="row align-items-start">
        <div class="col mb-3 border border-dark me-2">
          <h6 class="mt-3">SOBRE LAS MANTENCIONES</h6><br>
          <h6>¿Qué es la mantención de un vehículo?</h6>
          <p>Es la revisión de mantenimiento periódica por kilometraje y/o tiempo establecido por el fabricante, ésta comprende la revisión y reemplazo de componentes para asegurar el correcto funcionamiento del vehiculo</p><br>
          <h6>¿Cúal es el objetivo de la mantención?</h6>
          <p>Realizar una revisión integral del vehículo según la pauta de mantenimiento establecida por el fabricante, con el fin de reemplazar componentes y verificar el correcto funcionamiento de todos los sistemas.</p><br>
          <h6>¿Cuales son las ventajas de realizar mis mantenciones en MechMed?</h6>
          <p>- Mantener el funcionamiento óptimo de todos los sistemas del vehículo.<br>

            - Utilización de repuestos originales y aceites autorizados por el fabricante.<br>
            
            - Uso de equipos de diagnóstico y herramientas especiales oficiales del fabricante para el proceso de mantenimiento.<br>
            
            - Detectar de forma anticipada cualquier falla que pueda provocar un riesgo de accidente o reparaciones mayores en el vehículo (ej: desgaste severo en pastillas de freno).<br>
            
            - Técnicos certificados periódicamente por el fabricante.<br>
            
            - Mantener actualizado todos los módulos electrónicos del vehículo mediante el scanner de la marca.<br>
            
            - Prolongar la vida útil del motor y el estado general del vehículo. Mejorar el valor de reventa del vehículo al ser mantenido en un concesionario oficial de la marca.</p><br>

            <h6>¿Cuales son las consecuencias de no realizar las mantenciones a mi auto?</h6>
            <p>- Aumentar el riesgo de averías en el vehículo debido a que no son revisadas a tiempo y de forma correcta.<br>

              - Extender el tiempo de mantenimiento que establece el fabricante puede ocasionar fallas graves en el funcionamiento del motor al no reemplazar el lubricante dentro del periodo de tiempo y kilometraje.<br>
              
              - Costos para el usuario debido a reparaciones mayores producidas por no revisar a tiempo o no mantener el vehículo según la pauta establecida por el fabricante.</p><br>
        </div>


        <div class="col mb-3 border border-dark">
          <h6 class="mt-3 mb-4">SOBRE REPARACIONES MECÁNICAS</h6>
          <h6>¿Por qué es importante realizar reparaciones a mi auto?</h6>
          <p>La reparación adecuada y oportuna es fundamental para mantener la seguridad, el rendimiento, la durabilidad del vehículo.</p>
          <h6>¿Con qué nivel de especialidad cuentan los talleres de MechMed?</h6>
          <p>Nuestros talleres cuentan con técnicos especializados en cada marca y a su vez utilizan herramientas y equipos específicos para diagnosticar y solucionar problemas siguiendo los protocolos de reparación del manual del fabricante, utilizando repuestos originales para garantizar la fiabilidad y seguridad del vehículo después de la reparación.</p>
        </div>


        <div class="col mb-3 border border-dark ms-2">
          <h6 class="mt-3 mb-4">SOBRE DESABOLLADURA Y PINTURA</h6>
          <h6>¿Qué hacer en caso de siniestro si cuento con un seguro?</h6>
          <p>- Declara el siniestro directamente con la compañía de seguros.<br>

            - No olvides solicitar al asesor de tu aseguradora que tu vehículo sea reparado en nuestros talleres oficiales.<br>
            
            - Luego deberás asistir al proceso de evaluación de daños y presupuestos en el cual nuestros asesores enviarán el presupuesto del daño a tu compañía de seguros para que sea aprobada.<br>
            
            - Una vez que la compañía apruebe la reparación solicitaremos tu aprobación del deducible y los tiempos de reparación, con ambas aprobaciones se solicitan las partes y piezas y te informaremos la fecha en que deberás ingresar tu vehículo para comenzar el proceso de reparación. De tener repuestos en importación es necesario el adelanto del 50% del deducible.<br>
            
            - Luego de reparado el vehículo y al momento de la entrega o en el proceso de reparación podrás pagar el total o el diferencial tu deducible.</p><br>
            <h6>¿Qué hacer en caso de un siniestro y no estar asegurado?</h6>
            <p>- Si no tienes seguro o necesitas reparar rayas o detalles de tu vehículo sin acudir a tu seguro puedes hacerlo de forma particular.<br>

              - Solo debes solicitar una cita a nuestros talleres agendando a través de nuestro Agendamiento Online o llamando al 6008186000 desde teléfonos y *1500 desde celulares para realizar una evaluación de daños y presupuesto.</p>
        </div>
      </div>
    </div>


    <script src="./js/bootstrap.min.js" ></script>

    <script src="funciones.js"></script>


    <!--funciones jquery-->

    <script>
      $(document).ready(function(){
          
          function hacerParpadear() {
              $("#boton").fadeOut(200).fadeIn(200).fadeOut(200).fadeIn(200);
          }

    
          $("#boton").click(function(){
              hacerParpadear();
          });
      });
  </script>

  


    
  </body>
</html>