<!doctype html>
<html lang="en">
  <head>
    <title>Nosotros</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <script src="./js/bootstrap.min.js" ></script>
    <script src="funciones.js"></script>
    <link rel="stylesheet" href="estilos.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  </head>
  <body class="bg-secondary-subtle text-white">
    <!--barra de navegacion-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="menu">
    <div class="container-fluid">
      <a class="navbar-brand" href="./index.html"  id="colorletras" onmouseover="cambiarColorTexto()" onmouseout="restaurarColorTexto()"><span>MechMed</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="./servicios.html">SERVICIOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./nosotros.html">NOSOTROS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./contacto.html">¿TIENES DUDAS?</a>
          </li></ul>
          <!--inicio de sesion-->
          <form id="loginForm">
            <a href="./login.html"><button class="btn btn-primary ms-2" type="button" >Iniciar Sesión</button></a>
              </form>
        <!--fin inicio sesion-->
      </div>
    </div>
  </nav>
  <!--final barra de navegación-->

    <!--HISTORIA Y AGRADECIMIENTOS-->
    <div class="container1 border border-dark">

      <h5 class="text-center mt-1">HISTORIA DE MECHMED</h5>

      <p class="mt-3 me-2 ms-2 mb-3">Hace años, en un pequeño taller de mecánica automotriz llamado "MechMed", un joven emprendedor llamado Miguel comenzó su viaje hacia el éxito en el mundo automotriz. Miguel, apasionado por los automóviles desde su infancia, soñaba con crear un servicio de reparación y mantenimiento de vehículos que destacara por su calidad y confiabilidad.

        Al principio, "MechMed" era simplemente un modesto taller ubicado en las afueras de la ciudad. Miguel, con su habilidad innata para la mecánica y su enfoque meticuloso en cada reparación, rápidamente ganó la confianza de sus primeros clientes. La reputación de "MechMed" comenzó a crecer a medida que más personas experimentaban el excelente servicio y la atención personalizada que ofrecía Miguel y su equipo de mecánicos expertos.<br><br>
        
        Con el tiempo, la demanda de "MechMed" creció exponencialmente. Miguel se dedicó a expandir sus instalaciones, invirtiendo en equipos de última generación y tecnología avanzada para ofrecer diagnósticos precisos y soluciones eficientes para los problemas mecánicos más complejos. La ética de trabajo de Miguel y su compromiso con la satisfacción del cliente se reflejaron en cada reparación, lo que atrajo a más clientes y consolidó la reputación de "MechMed" como un servicio de confianza.
        
        Pero Miguel no se conformó con el éxito inicial de "MechMed". Decidió ampliar sus servicios para incluir mantenimiento preventivo, inspecciones exhaustivas y programas de servicio personalizados para cada cliente. Además, estableció alianzas estratégicas con proveedores de repuestos de alta calidad, garantizando que cada reparación en "MechMed" utilizara piezas confiables y duraderas.<br><br>
        
        La dedicación de Miguel y su equipo no pasó desapercibida en la comunidad automotriz. Pronto, "MechMed" se convirtió en un nombre de renombre en la región, conocido por su excelencia en el servicio, la honestidad en sus diagnósticos y la atención al detalle en cada trabajo realizado. Clientes de toda la ciudad acudían a "MechMed" en busca de soluciones confiables y un trato excepcional.
        
        Hoy en día, "MechMed" es un servicio automotriz de renombre, reconocido por su historial de satisfacción del cliente y su compromiso con la calidad en cada reparación. Miguel ha logrado su sueño de convertir "MechMed" en un referente en la industria automotriz, y su nombre es sinónimo de confianza y excelencia en el cuidado de vehículos. Su historia es un testimonio del poder de la pasión, el trabajo arduo y el compromiso con la excelencia en el mundo empresarial.<br><br></p>

        <h5 class="text-center mt-4">AGRADECIMIENTOS</h5>

        <p class="mt-3 me-2 ms-2 mb-3">Con gratitud en el corazón y la dedicación en cada giro de llave, "MechMed" rinde homenaje a aquellos cuyas contribuciones imaginarias fueron fundamentales en nuestra historia de éxito.

          Queremos expresar nuestro sincero agradecimiento al visionario inventor Henry Mechanis, cuyos diseños revolucionarios allanaron el camino para la moderna industria automotriz, inspirándonos con su ingenio y pasión por la mecánica.<br><br>
          
          Extendemos nuestros agradecimientos a la valiente piloto Stella Motoris, cuyas hazañas en las pistas de carrera nos recordaron la importancia de la precisión y el rendimiento en cada vehículo que llega a nuestras manos.
          
          No podemos olvidar al incansable explorador Alex Expedite, cuya determinación y espíritu aventurero nos enseñaron la importancia de la tenacidad y la búsqueda constante de la excelencia.<br><br>
          
          Agradecemos también a la comunidad automotriz ficticia que, con su confianza y apoyo, nos impulsó a ser mejores cada día y nos recordó que el éxito se construye sobre la base de relaciones sólidas y un servicio excepcional.
          
          Con sus nombres en nuestras mentes y sus lecciones en nuestros corazones, "MechMed" se embarca en el futuro con humildad y determinación, comprometidos a seguir brindando un servicio de calidad y confianza en la industria automotriz.</p>
    </div>


    <script src="./js/bootstrap.min.js" ></script>

    <script src="funciones.js"></script>

    
    <!--funciones-->


  <!--parpadeo-->
    <script>
      $(document).ready(function(){
          
          function hacerParpadear() {
              $("#boton").fadeOut(200).fadeIn(200).fadeOut(200).fadeIn(200);
          }

    
          $("#boton").click(function(){
              hacerParpadear();
          });
      });
  </script>

    
  </body>
</html>