<!DOCTYPE html>
<html>
<head>
    <title>Eliminar Cliente</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'informe/css/estilos.css' %}">
</head>
<body class="fondo">
    <div class="container mt-5">
        <h1 class="text-center">Eliminar Cliente</h1>
        <p>¿Estás seguro de que deseas eliminar a {{ cliente.nombre_cliente }} de {{ cliente.nombre_empresa }}?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a href="{% url 'lista_clientes' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
