<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Eliminar Presupuesto</title>
    <link rel="stylesheet" href="{% static 'informe/css/estilos.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="fondo">
    <div class="container mt-5">
        <h1 class="text-center">Eliminar Presupuesto</h1>
        <p>¿Está seguro de que desea eliminar este presupuesto?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>
        <a href="{% url 'lista_presupuestos' %}" class="btn btn-secondary mt-3">Cancelar</a>
    </div>
</body>
</html>
