<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Lista de Presupuestos</title>
    <link rel="stylesheet" href="{% static 'informe/css/estilos.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body class="fondo">
    <div class="container mt-5">
        <h1 class="text-center">Presupuestos</h1>
        <a href="{% url 'crear_presupuesto' %}" class="btn btn-primary mb-3">Crear Presupuesto</a>
        <ol>
            {% for presupuesto in presupuestos %}
                <li>
                    ID: {{ presupuesto.id_presupuesto }}<br>
                    Cliente: {{ presupuesto.nombre_cliente }}<br>
                    <a href="{% url 'ver_presupuesto' presupuesto.pk %}">Ver</a>
                    <a href="{% url 'editar_presupuesto' presupuesto.pk %}">Editar</a>
                    <a href="{% url 'eliminar_presupuesto' presupuesto.pk %}">Eliminar</a>
                </li>
            {% endfor %}
        </ol>
        <a href="{% url 'index' %}" class="btn btn-secondary mt-3">Regresar al Inicio</a>
    </div>
</body>
</html>
