<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitud de Presupuesto</title>
    <link rel="stylesheet" href="{% static 'informe/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'informe/css/estilos.css' %}">
    
</head>
<body class="fondo">
    <div class="container mt-5">
        <h2>Solicitud de Presupuesto</h2>
        <p>Ingresa tus datos y te contactaremos a la brevedad</p>
        <form id="crearSolicitudForm" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
        <a href="{% url 'portada' %}" class="btn btn-secondary mt-3">Volver a la Página Principal</a>
    </div>


    
</body>
</html>
